<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои файлы</title>
    <link rel="stylesheet" href="{% static 'css/FileInstall.css' %}"> <!-- Подключаем  CSS -->
</head>
<body>

<div class="form-container">
    <h2>Файл:</h2>
    <form method="get">
        {% csrf_token %}
        {{ files.as_p }}
        <input type="submit" value="Скачать">
    </form>
    <div class="link">
        <a href="{% url 'index' %}">На главную страницу</a> <!-- Ссылка на главную страницу -->
    </div>
</div>

</body>
</html>
